.button {
  font: inherit;
  border: 2px solid #503f53;
  background: #5a585a;
  color: white;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 3px;
  width: 8rem;
  height: 3rem;
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  align-self: end;
  justify-self: end;
  line-height: 1rem;
}

.button:hover,
.button:active {
  background: #302f30;
  border-color: #373741;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
